<nav class="navbar bg-body-tertiary shadow-lg navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img height="60" src="https://static.vecteezy.com/system/resources/previews/022/100/821/non_2x/oyo-logo-transparent-free-png.png"></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>