<nav class="navbar navbar-dark shadow-lg navbar-expand-lg" style="background-color: #ed302b;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img height="60" src="https://static.vecteezy.com/system/resources/previews/018/970/034/non_2x/oyo-white-logo-on-red-background-free-vector.jpg" alt="Logo">
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>
